.container {
	width: 100%;
}

#main_canvas {
	border: 1px solid black;
	position: absolute;
	left: 50%;
	margin-left: -320px;
}

/* Editor */

.editor_container {
  width: 659px;
  height: 532px;
  background-color: #0000ff;
  float: left;
  overflow: scroll;
}

#editor_main_canvas {
  border: 1px solid black;
}

#editor_sprite_canvas, #editor_selected_sprite_canvas {
  border: 1px solid black;
}

.sprite_container {
  height: 256px;
  width: 532px;
  overflow-y: scroll;
  position: absolute;
  margin-left: 668px;
}

.options {
  background-color: #eee;
  height: 248px;
  width: 532px;
  overflow-y: scroll;
  position: absolute;
  margin-left: 668px;
  margin-top: 266px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#size_x_buttons button, #size_y_buttons button {
  width: 30px;
  height: 30px;
}
