body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
	width: 100%;
}

#main_canvas {
	border: 1px solid black;
	position: absolute;
	left: 50%;
	margin-left: -320px;
}

/* Editor */

#left_half {
  background-color: #ddddff;
  float: left;
  overflow: scroll;
}

#right_half {
  vertical-align: top;
}

#editor_main_canvas {
  border: 1px solid black;
}

#editor_sprite_canvas, #editor_selected_sprite_canvas {
  border: 1px solid black;
}

.sprite_container {
  height: 256px;
  width: 532px;
  overflow-y: scroll;
  float: left;
  margin-left: 10px;
}

.tab_headers {
  height: 30px;
  float: left;
  margin-left: 10px;
}

.tab_header {
  float: left;
  line-height: 30px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  background-color: #bbbbbb;
}

.tab_header:hover {
  background-color: #ffffff;
}

.tab {
  background-color: #eee;
  height: 228px;
  width: 522px;
  overflow-y: scroll;
  padding: 8px;
  float: left;
  margin-left: 10px;
}

.tab table {
  float: left;
}

#size_buttons_container {
  float: right;
}

#size_x_buttons button, #size_y_buttons button {
  margin-top: 8px;
  width: 30px;
  height: 30px;
}

#characters_container input, #warps_container input, #signs_container input {
  width: 30px;
}

#signs_tab textarea {
  width: 260px;
  height: 60px;
}

#maps_container td, #characters_container td, #warps_container td, #signs_container td {
  text-align: center;
}

#export_json {
  height: 60px;
  width: 532px;
  margin-left: 10px;
}
